body, html {
    background-color: white;
    /*background-image: url(https://sc-events.s3.amazonaws.com/4062632/main.jpg);*/
    background-size: 100%;
    text-align: center;
}

nav header {
        background-image: url(http://www.puresophistry.com/wp-content/uploads/2012/08/My-Movies.jpg);
        font-family: 'Times New Roman', Times, serif;
        font-size: 36px;
        text-align: center;
        height: 100px;
        padding: 25px;
}
h1  {
    text-align: center;
    font-size: 40px;
}


.arrange {
    float: left;
    flex-direction: row;
    padding:20px;
    margin:10px;
    text-align: center;
}



nav a {
    display: inline block;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(236, 16, 16);
    padding: 12px;
    text-decoration: none;
    color: black;
    margin: auto;
    align-content: center;
}


table, td, th {
    border: 1px solid black;
    background-color: rgb(245, 248, 248);
    border-collapse: collapse;
    text-align: center; 
    margin-left:auto; 
    margin-right:auto;
}

