body{
    background-color: rgba(102, 172, 131, 0.692)
}

picture {
    height: 100px;
    width: 100px;
}

table, td, th {
    border: 1px solid black;
    background-color: rgba(111, 214, 218, 0.349);
    border-collapse: collapse;
    text-align: center; 
}

