body{
    background-color: rgba(157, 206, 228, 0.692)
}

table {
    
}

table, td, th {
    border: 1px solid black;
    background-color: rgba(100, 142, 231, 0.349);
    border-collapse: collapse;
    text-align: center; 
}

