<section>
    <header>Add Movie to Collection</header>
 <br>
 <br>
 <form>
    <input type="text" ng-model="vm.newMovie.name" placeholder="Movie Name">
    <input type="text" ng-model="vm.newMovie.pic" placeholder="Picture URL">
    <input type="text" ng-model="vm.newMovie.release_date" placeholder="Release Date">
    <select type="text" ng-model="vm.newMovie.genre" placeholder="Genre">
            <option value="Drama">Drama</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Thriller">Thriller</option>
            <option value="Horror">Horror</option>
    </select>
    <input type="number" ng-model="vm.newMovie.run_time" placeholder="Run Time (Minutes)">
    <button type="reset" ng-click="vm.addMovie(vm.newMovie)">Add A Movie!</button>
</form>
<br>
<br>
    <table>
        <thead>
            <th>Movie Name</th>
            <th>Picture URL</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Runtime (Minutes)</th>
        </thead>
        <tbody class="picture" ng-repeat="movie in vm.movies.list">
            <td>{{movie.name}}</td>
            <td><img ng-src="{{movie.pic}}"></td>
            <td>{{movie.release_date}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.run_time}}</td>
            <td><button ng-click="vm.deleteMovie(movie)">Delete</button></td>
        </tbody>
        </table>
</section>