<section>
    <header>Add Movie to Collection</header>
 <br>
 <br>
 <form>
    <input type="text" ng-model="vm.newMovie.name" placeholder="Movie Name">
    <input type="text" ng-model="vm.newMovie.pic" placeholder="Picture URL">
    <input type="text" ng-model="vm.newMovie.release_date" placeholder="Release Date">
    <select type="text" ng-model="vm.newMovie.genre_id" placeholder="Genre">
            <option value="">---Please select---</option>

            <option ng-repeat="genre in vm.genres.list" value="{{genre.id}}">{{genre.genre}}</option>
    </select>
    <input type="number" ng-model="vm.newMovie.run_time" placeholder="Run Time (Minutes)">
    <button type="reset" ng-click="vm.addMovie(vm.newMovie)">Add A Movie!</button>
</form>
<br>
<br>

        <div class="flex-container" ng-repeat="movie in vm.movies.list">
            <h2>{{movie.name}}</h2>
            <p><img ng-src="{{movie.pic}}" width="300" height="400"></p>
            <p>Release Date: {{movie.release_date}}</p>
            <p>Genre: {{movie.genre}}</p>
            <p>Runtime: {{movie.run_time}}</p>
            <button ng-click="vm.deleteMovie(movie)">Delete</button>
        </div>
    
</section>